name: Java CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # secret-scan:
  #   name: Gitleaks Secret Scan
  #   runs-on: ubuntu-latest
  #   continue-on-error: true

  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Run Gitleaks
  #       uses: gitleaks/gitleaks-action@v2

  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Run Tests
        run: mvn clean verify

      - name: Package Artifact
        run: mvn package

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.jar

  security-scan:
    name: Trivy Security Scan
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - uses: actions/checkout@v4

      - name: Trivy Security Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          severity: LOW,MEDIUM,HIGH,CRITICAL
          exit-code: 0
